<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/js")
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#858585" />
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-6X92');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-6X92" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="wrapper">
        @Html.Partial("Header")
        @RenderBody()
        @Html.Partial("Footer")
    </div>

    <script type="text/x-kendo-tmpl" id="bootstrap-card-template">
        <div class="card" style="width: 35rem; height: 35rem;">
            <div class="image-container" style="background-image:url('#:DetailImage.replace(/ /g , `%20`)#')">
                @*<img class="card-img-top" src="#:DefaultImage#" alt="#:Title#">*@
            </div>
            <div class="card-body">
                <h5 class="card-title">#:Title#</h5>
                <p class="card-text">
                    # for (var i=0; i < data.ShortDescription.length; i++) {#
                    # if (i > 0) { #
                    <span style="display: inline-block"></span>
                    #}#
                    #:data.ShortDescription[i]#
                    #}#
                </p>
                <div class="card-actions">
                    <label class="price">from #:kendo.toString(data.LowestPrice, "c", "en-US")#</label>
                    <a href="/Destination/#:DestinationID#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    </script>

    @RenderSection("scripts", required: false)

</body>
</html>