<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/7.0.0")

    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/themes/6.2.0/bootstrap/bootstrap-main.css" />

    <script src="https://kendo.cdn.telerik.com/2023.2.829/7.0.0/kendo.core.min.7.0.0"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/7.0.0/kendo.badge.min.7.0.0"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/7.0.0/kendo.html.base.min.7.0.0"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/7.0.0/kendo.html.button.min.7.0.0"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/7.0.0/kendo.button.min.7.0.0"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/7.0.0/kendo.data.min.7.0.0"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/7.0.0/kendo.popup.min.7.0.0"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/7.0.0/kendo.list.min.7.0.0"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/7.0.0/kendo.combobox.min.7.0.0"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/7.0.0/kendo.dropdownlist.min.7.0.0"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/7.0.0/kendo.listview.min.7.0.0"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/7.0.0/kendo.toggleinputbase.min.7.0.0"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/7.0.0/kendo.html.input.min.7.0.0"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/7.0.0/kendo.radiobutton.min.7.0.0"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/7.0.0/kendo.userevents.min.7.0.0"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/7.0.0/kendo.draganddrop.min.7.0.0"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/7.0.0/kendo.slider.min.7.0.0"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/7.0.0/kendo.responsivepanel.min.7.0.0"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/7.0.0/kendo.menu.min.7.0.0"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/7.0.0/kendo.aspnetmvc.min.7.0.0"></script>

    @RenderSection("Kendo", false)
    <link rel="manifest" href="@Url.Content("~/")manifest.7.0.0on">
    <meta name="theme-color" content="#858585" />
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.7.0.0'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.7.0.0?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-6X92');</script>
    <!-- End Google Tag Manager -->
</head>
<body class="bg-light">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-6X92" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="wrapper">
        @Html.Partial("Header")
        @RenderBody()
        @Html.Partial("Footer")
    </div>

    @RenderSection("scripts", required: false)

</body>
</html>