<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Build a trip-planning app with Telerik UI for ASP.NET MVC that enables users to browse available trips, view maps, images, calendars, and submit inquiries. Start here!">
    <title>TripXpert, a Trip-Planning ASP.NET MVC App Demo | Telerik UI for ASP.NET MVC</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/js")

    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/themes/11.0.2/bootstrap/bootstrap-main.css" />

    <script src="https://kendo.cdn.telerik.com/2025.2.520/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2025.2.520/js/kendo.aspnetmvc.min.js"></script>

    <link rel="manifest" href="@Url.Content("~/")manifest.json">
    <meta name="theme-color" content="#858585" />
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-6X92');</script>
    <!-- End Google Tag Manager -->
</head>
<body class="bg-light">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-6X92" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="wrapper">
        @Html.Partial("Header")
        @RenderBody()
        @Html.Partial("Footer")
    </div>

    @RenderSection("scripts", required: false)

</body>
</html>