
@model TripXpert.Models.DestinationViewModel
@{
    ViewBag.Title = "Destination Details";
    var attractions = string.Join(" &bull; ", Model.Attractions.Select(a => a.Title));

    var infoSvg = @"<svg class=""tx-tabstrip-svg"" xmlns=""http://www.w3.org/2000/svg"" viewBox=""0 0 512 512"" focusable=""false""><path d=""M256,0C114.6,0,0,114.6,0,256c0,141.4,114.6,256,256,256s256-114.6,256-256C512,114.6,397.4,0,256,0zM256,469.3c-117.8,0-213.3-95.5-213.3-213.3c0-117.8,95.5-213.3,213.3-213.3S469.3,138.2,469.3,256C469.3,373.8,373.8,469.3,256,469.3z M287.9,128.1c0,17.6-14.3,31.9-31.9,31.9S224,145.7,224,128.1s14.3-31.9,31.9-31.9S287.9,110.4,287.9,128.1z M320,384H192v-13.1c3.1-0.2,11.7-0.5,14.7-0.9c3-0.4,5.6-1,7.7-1.8c3.8-1.4,6.5-3.5,8.1-6.2c1.5-2.7,1.5-5.6,1.5-10.1c0,0,0-125.4,0-128s-6.4-11.5-32-11.2c0,7,0-20.8,0-20.8h93.3l2.7,2.7V352c0,6.7,3.7,12.3,10.3,15.5c6.5,3.1,17,3.3,21.7,3.4V384z"" fill=""currentColor"" fill-rule=""evenodd""></path></svg>";
    var attractionsSvg = @"<svg class=""tx-tabstrip-svg"" xmlns=""http://www.w3.org/2000/svg"" viewBox=""0 0 512 512"" focusable=""false""><path d=""M256,0C114.6,0,0,114.6,0,256c0,141.4,114.6,256,256,256s256-114.6,256-256C512,114.6,397.4,0,256,0zM256,469.3c-117.8,0-213.3-95.5-213.3-213.3c0-117.8,95.5-213.3,213.3-213.3S469.3,138.2,469.3,256C469.3,373.8,373.8,469.3,256,469.3z M128,352 M96,352h320 M96,224v-32 M416,352v32H96v-32 M416,160H96l160-64L416,160z M96,192h320v32H96 M112,352V192h32v160H112 M368,192h32v160h-32V192z M272,352h-32V192h32V352z M336,352h-32V192h32V352z M176,352V192h32v160H176"" fill=""currentColor"" fill-rule=""evenodd""></path></svg>";
    var enquirySvg = @"<svg class=""tx-tabstrip-svg"" xmlns=""http://www.w3.org/2000/svg"" viewBox=""0 0 512 512"" focusable=""false""><path d=""M256,0C114.6,0,0,114.6,0,256c0,141.4,114.6,256,256,256s256-114.6,256-256C512,114.6,397.4,0,256,0zM256,469.3c-117.8,0-213.3-95.5-213.3-213.3c0-117.8,95.5-213.3,213.3-213.3S469.3,138.2,469.3,256C469.3,373.8,373.8,469.3,256,469.3z M96,192l192,192h96v-96L192,96L96,192z M320,288l-32,32L160.3,192.1L192,160L320,288z"" fill=""currentColor"" fill-rule=""evenodd""></path></svg>";
    var calendarCloseSvg = @"<svg class=""tx-svg-icon-lg"" xmlns=""http://www.w3.org/2000/svg"" viewBox=""0 0 32 32""><path d=""M17.4,16L28,26.6L26.6,28L16,17.4L5.4,28L4,26.6L14.6,16L4,5.4L5.4,4L16,14.6L26.6,4L28,5.4L17.4,16z"" fill=""currentColor"" fill-rule=""evenodd""></path></svg>";
}
@section Kendo
{
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.button.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.listview.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.validator.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.userevents.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.selectable.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.calendar.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.responsivepanel.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.textbox.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.maskedtextbox.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.tabstrip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.draganddrop.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.window.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.dialog.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.tooltip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.color.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.drawing.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.dataviz.core.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.fx.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.mobile.scroller.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.dataviz.map.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.mobile.button.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.mobile.scrollview.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.scrollview.min.js"></script>
}
<div class="jumbotron jumbotron-fluid m-0 jumbotron-splash tx-scrollview-container">
    <div id="scrollview" class="tx-scrollview"></div>
</div>
<div class="tx-destination-summary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="mb-4 tx-bottom-dash tx-bottom-dash-start">
                    <h1 class="h1">@Model.Title</h1>
                    <p class="text-muted font-italic">@Html.Raw(attractions)</p>
                </div>
                <p>
                    Price from $@Model.LowestPrice for <span>@Model.Duration days</span><br />
                    <span id="pricesButton" class="btn-link">View full price info</span>
                    <span id="tx-calendar-open" class="btn-link d-lg-none ml-4">View availbale dates</span>
                </p>
            </div>
            <div class="col-lg-4">
                @{ var tourInfos = Model.TourInfos;
                    List<DateTime> list = new List<DateTime>();
                    foreach (var tourInfo in tourInfos)
                    {
                        foreach (var tourDate in tourInfo.TourDates)
                        {
                            list.Add(tourDate);
                        }
                    }
                }
                <div id="tx-calendar-container" class="tx-calendar-container">
                    <span id="tx-calendar-close" class="k-button k-flat tx-calendar-close d-lg-none">@Html.Raw(calendarCloseSvg)</span>
                    @(Html.Kendo().Calendar()
                                        .Name("toursCalendar")
                                        .Selectable("multiple")
                                        .SelectDates(list)
                                        .Value(Model.TourInfos.First().StartDate)
                                        .Footer(false)
                                        .HtmlAttributes(new { @class = "tx-calendar-destinations" })
                    )
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tx-destination-details bg-white k-flex">
    <div class="container">
        @(Html.Kendo().TabStrip()
                            .Animation(false)
                            .Scrollable(true)
                            .Name("tabStripInfo")
                            .Items(items =>
                            {
                                items.Add()
                                    .Text(string.Format("{0} <span class='d-none d-sm-block'>Overview<span>", infoSvg))
                                    .Encoded(false)
                                    .Selected(true)
                                    .Content(@<text>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <p>@Model.FullDescription</p>
                                            </div>
                                            <div class="col-md-4 testimonial">
                                                <blockquote>
                                                    <p>@Model.Testimonial.TestimonialContent</p>
                                                    <footer class="blockquote-footer">@Model.Testimonial.Author.</footer>
                                                </blockquote>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                @(Html.Kendo().Map()
                                                                    .Name("overviewMap")
                                                                    .Center((double)Model.MapInfo.ZoomSettings["Latitude"], (double)Model.MapInfo.ZoomSettings["Longitude"])
                                                                    .Zoom((double)Model.MapInfo.ZoomSettings["Zoom"])
                                                                    .HtmlAttributes(new { style = "width: 100%; height: 320px;" })
                                                                    .Layers(layers =>
                                                                                {
                                                                                                layers.Add()
                                                                                                    .Type(MapLayerType.Tile)
                                                                                                    .UrlTemplate("https://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png")
                                                                                                    .Subdomains("a", "b", "c")
                                                                                                    .Attribution("&copy; <a href='https://osm.org/copyright' title='OpenStreetMap contributors' target='_blank'>OpenStreetMap contributors</a>");

                                                                                            }).Markers(markers =>
                                                                                            {
                                                                                                foreach (var marker in Model.MapInfo.Markers)
                                                                                                {
                                                                                                    markers.Add()
                                                                                                        .Location(marker.LatLng);
                                                                                                }
                                                                                            })
                                                )
                                            </div>
                                        </div>
                                    </text>);
                                    items.Add()
                                .Text(string.Format("{0} <span class='d-none d-sm-block'>Attractions</span>", attractionsSvg))
                                .Encoded(false)
                                .Content(@<text>
                                    @(Html.Kendo().ListView(Model.Attractions)
                                                        .Name("AttractionsListView")
                                                        .TagName("div")
                                                        .Layout("grid")
                                                        .ClientTemplateId("attractionsTemplate")
                                                        .HtmlAttributes(new { @class = "border-0 k-card-columns" })
                                    )
                                </text>);
                            items.Add().
                        Text(string.Format("{0} <span class='d-none d-sm-block'>Enquiry Form</span>", enquirySvg))
                        .Encoded(false)
                        .Content(@<text>
                            <form id="enquiry-form">
                                <h3>Contact an Expert</h3>
                                <p>
                                    <strong>@Model.Title</strong> has been added to your enquiry. Please complete the short form. We'll get right back to you to help you with your travels.
                                </p>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="FirstName">First name</label>
                                        @(Html.Kendo().TextBox().Name("FirstName").HtmlAttributes(new { @style = "width: 100%" }))
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="LastName">Last Name</label>
                                        @(Html.Kendo().TextBox().Name("LastName").HtmlAttributes(new { @style = "width: 100%" }))
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="Email">Email*</label>
                                        @(Html.Kendo().TextBox().Name("Email").HtmlAttributes(new { @style = "width: 100%", required = "required", type = "email", data_email_msg = "Email format is not valid" }))
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="mobile">Mobile</label>
                                        @(Html.Kendo().MaskedTextBox()
                                                            .Name("mobile")
                                                            .Mask("(999) 000-0000")
                                                            .HtmlAttributes(new { @style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="Comments">Comments</label>
                                        @(Html.TextArea("Comments", new { style = "width: 100%; resize: none;", rows = "5", @class = "k-textarea", cols = "200" }))
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button aria-label="Submit" class="k-button k-primary tx-send-button" type="submit">Send</button>
                                    </div>
                                </div>
                            </form>
                        </text>);
            })
                        .HtmlAttributes(new { @class = "tx-tabstrip-destinations" })
        )
    </div>
</div>
@(Html.Kendo().Window()
            .Name("windowPriceInfo")
            .Title("Full Price Info")
            .Visible(false)
            .Content(@<text>
                <script type="text/x-kendo-tmpl" id="priceInfoTemplate">
                    <p>Tour Rates: #: kendo.toString(data.StartDate, "dd MMMM yyyy")# - #: kendo.toString(data.EndDate, "dd MMMM yyyy")#</p>
                    <ul>
                        <li>$#:data.PerPersonSharing#  per person sharing</li>
                        <li>$#:data.PerSingleOccupancy# per single occupancy</li>
                        <li>$#:data.PerChild# per child (14 - 16 years)</li>
                    </ul>
                </script>
                @(Html.Kendo().ListView(Model.TourInfos)
                                    .Name("listView")
                                    .TagName("div")
                                    .ClientTemplateId("priceInfoTemplate")
                )
            </text>)
                            .Actions(actions => actions.Close())
)
@(Html.Kendo().Window()
            .Name("largeMapWindow")
            .Title("Itinerary map")
            .Visible(false)
            .Content(@<text>
                @(Html.Kendo().Map()
                                    .Name("largeMap")
                                    .Center((double)Model.MapInfo.ZoomSettings["Latitude"], (double)Model.MapInfo.ZoomSettings["Longitude"])
                                    .HtmlAttributes(new { style = "height:660px; width: 820px;" })
                                    .Layers(layers =>
                                    {
                                                layers.Add()
                                        .Type(MapLayerType.Tile)
                                        .UrlTemplate("https://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png")
                                        .Subdomains("a", "b", "c")
                                        .Attribution("&copy; <a href='https://osm.org/copyright' title='OpenStreetMap contributors' target='_blank'>OpenStreetMap contributors</a>");
                                            })
                                    .Markers(markers =>
                                    {
                                                foreach (var marker in Model.MapInfo.Markers)
                                                {
                                                    markers.Add()
                                            .Location(marker.LatLng);
                                                }
                                            })
                )
            </text>)
                            .Actions(actions => actions.Close())
)
<script id="template" type="text/x-kendo-template">
    <div class="tx-scrollview-image-container" style="background-image: url('@Url.Content("~/")Images/Gallery/#:FolderName.trim()#/#:ImageURL#');" title="#:Title#"></div>
</script>
<script>
    $("#pricesButton").on("click", function (e) {
        $("#windowPriceInfo").data("kendoWindow").center().open();
    });

    var validator = $("#enquiry-form").kendoValidator().getKendoValidator();

    $("#enquiry-form").submit(function (e) {
        e.preventDefault();
        if (validator.validate()) {
            kendo.alert("Thank you for sending an inquiry! We will be in touch shortly.");

            $(e.target).find("input, textarea").val("");
        }
    });

    var scrollViewDs = new kendo.data.DataSource({
        transport: {
            read: '@Url.Content("~/")Destinations/GetDestinationImages?destinationId=@Model.DestinationID'
        }
    })

    $(document).ready(function () {

        $("#scrollview").kendoScrollView({
            dataSource: scrollViewDs,
            template: kendo.template($("#template").html()),
            contentHeight: "600px",
            enablePager: false
        });

        var smallMap = $("#overviewMap").data("kendoMap");
        var largeMap = $("#largeMap").data("kendoMap");

        $("#prev-img").click(function (e) {
            var scrollView = $("#scrollview").data("kendoMobileScrollView");
            scrollView.prev();
        });

        $("#next-img").click(function (e) {
            var scrollView = $("#scrollview").data("kendoMobileScrollView");
            scrollView.next();
        });

        largeMap.setOptions({
            zoom: smallMap.zoom() + 1
        });

        $("#AttractionsListView").delegate(".k-card .k-toggle", "click", toggleDescription);
    });

    function toggleDescription(e) {
        $toggle = $(e.currentTarget);
        $toggle.toggleClass("k-rotated");
        $toggle.parents('.k-card').find('.k-card-text').slideToggle(200);
    }

    var calendarPanel = $("#tx-calendar-container").kendoResponsivePanel({
        breakpoint: 992,
        orientation: "top",
        autoClose: false
    }).data("kendoResponsivePanel");
    $("#tx-calendar-open").click(function (e) {
        e.stopPropagation();
        e.preventDefault();
        calendarPanel.open();
        $("body").addClass("tx-calendar-shown");
        return false;
    });
    $("#tx-calendar-close").click(function (e) {
        e.stopPropagation();
        e.preventDefault();
        calendarPanel.close();
        $("body").removeClass("tx-calendar-shown");
        return false;
    });
</script>
<script id="attractionsTemplate" type="text/x-kendo-tmpl">
    <div class="k-card tx-attraction-card">
        <img class="k-card-image" src="@Url.Content("~/")#=Image.ImageURL#" alt="#=Title#">
        <div class="k-card-body">
            <h5 class="k-card-title">
                <span class="k-toggle"><span class="k-icon k-i-arrow-chevron-down"></span></span>
                #:Title#
            </h5>
            <p class="k-card-subtitle small text-muted font-italic">#:Location#</p>
            <p class="k-card-text">#: Description #</p>
        </div>
    </div>
</script>