@{
    var searchCloseSvg = @"<svg class=""tx-svg-icon-lg"" xmlns=""http://www.w3.org/2000/svg"" viewBox=""0 0 32 32""><path d=""M17.4,16L28,26.6L26.6,28L16,17.4L5.4,28L4,26.6L14.6,16L4,5.4L5.4,4L16,14.6L26.6,4L28,5.4L17.4,16z"" fill=""currentColor"" fill-rule=""evenodd""></path></svg>";
}

<div class="jumbotron jumbotron-fluid tx-jumbotron-home d-flex align-items-center bg-dark text-light my-0" style="background-image:url('@Url.Content("~/")images/app/homepage-image.jpg')">
    <div class="container">
        <div class="h1 font-weight-medium mb-3">Find the best destinations all around the world</div>
        <span id="tx-search-open" class="form-control d-md-none tx-search-open">Find your destination</span>
        <div id="tx-searchbar-container">
            <span id="tx-search-close" class="k-button k-flat tx-search-close d-md-none">@Html.Raw(searchCloseSvg)</span>
            <div class="row tx-searchbar text-body d-block d-md-flex flex-md-row">
                <div class="col-md-2 d-none d-md-block">
                    @(Html.Kendo().DropDownList()
                        .Name("OfferType")
                        .OptionLabel("Offer type")
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .BindTo(new List<SelectListItem>() {
                            new SelectListItem() { Text = "All types", Value = "All" },
                            new SelectListItem() { Text = "Special offers", Value = "Special" },
                            new SelectListItem() { Text = "Regular offers", Value = "Regular" }
                        })
                        .HtmlAttributes(new { style = "width:100%;", @class = "tx-offertype" })
                        .Height(150)
                        .Events(x=> x.Change("onOfferTypeChange"))
                    )
                </div>
                <div class="col-12 d-md-none mt-4">
                    <h5>Offer types</h5>
                    <div class="custom-control custom-radio mb-2">
                        <input type="radio" id="all-offers" name="offerTypeRadio" value="All" class="custom-control-input" checked="checked" />
                        <label class="custom-control-label" for="all-offers">All types</label>
                    </div>
                    <div class="custom-control custom-radio mb-2">
                        <input type="radio" id="special-offers" name="offerTypeRadio" value="Special" class="custom-control-input" />
                        <label class="custom-control-label" for="special-offers">Special offers</label>
                    </div>
                    <div class="custom-control custom-radio mb-2">
                        <input type="radio" id="regular-offers" name="offerTypeRadio" value="Regular" class="custom-control-input" />
                        <label class="custom-control-label" for="regular-offers">Regular offers</label>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 d-none d-md-block">
                    <div class="k-price-range-drop-down-wrapper">
                        @(Html.Kendo().DropDownList()
                            .Name("PriceRangeDropDown")
                            .OptionLabel("Price range")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .BindTo(new List<SelectListItem>() {
                                new SelectListItem() { Text = "from $0 to $999", Value = "0-999" },
                                new SelectListItem() { Text = "from $1000 to $1999", Value = "1000-1999" },
                                new SelectListItem() { Text = "from $2000 to $2999", Value = "2000-2999" }
                            })
                            .HtmlAttributes(new { style = "width:100%;", @class = "tx-pricerange" })
                            .Height(150)
                            .Events(x => x.Change("priceRangeDropDownChange"))
                            .Deferred()
                        )
                    </div>
                </div>
                <div class="col-12 d-md-none mt-4 pb-4">
                    <h5>Price range</h5>
                    <div class="k-price-range-slider-wrapper">
                        @(Html.Kendo().RangeSlider()
                            .Name("PriceRangeSlider")
                            .LargeStep(1000)
                            .SmallStep(100)
                            .Min(0)
                            .Max(3000)
                            .Events(x=> x.Change("priceRangeSliderChange"))
                            .Deferred()
                         )
                    </div>
                </div>
                <div id="tx-searchbox-wrapper" class="col-lg-6 col-md-5 d-none d-md-flex">
                    @*The label is needed for accessibility https://docs.telerik.com/kendo-ui/accessibility/section-508#label-element-support*@
                    <h5 class="d-md-none">Destinations</h5>
                    @(Html.Kendo().ComboBox()
                        .Name("Destinations")
                        .Placeholder("Destinations")
                        .DataTextField("Title")
                        .DataValueField("DestinationID")
                        .Filter("contains")
                        .HtmlAttributes(new { style = "width: 100%", @class = "tx-searchbox" })
                        .AutoBind(false)
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("GetDestinations", "Home"); //Set the Action and Controller names.
                            });
                        })
                        .Events(ev => ev.Select("destinationsSelect").Change("destinationsChange"))
                        .Height(442)
                        .Template(
                           "<a href='" + Url.Content("~/") + "Destination/#:data.DestinationID#' style='width:100%;height:100%;'>"+
                            "<div class='d-flex py-2 align-items-center'>"+
                                "<img alt='#:Title#' src='" + Url.Content("~/") + "#:DefaultImage#?width=140&height=140' title='#=data.Title#' />"+
                                "<div class='k-flex ml-2'>"+
                                    "#=data.Title#<br />"+
                                    "<span class='text-primary'>from #:kendo.toString(data.LowestPrice, 'c0')#</span>"+
                                "</div>"+
                            "</div>"+
                          "<a>"
                        )
                        .Popup( popup => {
                            popup.AppendTo("#tx-searchbox-wrapper");
                        })
                    )
                </div>
                <div class="col-md-2 mt-4 mt-md-0">
                    @(Html.Kendo().Button()
                        .Name("SearchButton")
                        .HtmlAttributes(new { type = "button", style = "width:100%;", @class = "k-primary tx-search-button" })
                        .Content("Search")
                        .Events(ev => ev.Click("searchClick"))
                    )
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    var searchPanel = $("#tx-searchbar-container").kendoResponsivePanel({
        breakpoint: 768,
        orientation: "top",
        autoClose: false
    }).data("kendoResponsivePanel");
    $("#tx-search-open").click(function (e) {
        e.stopPropagation();
        e.preventDefault();
        searchPanel.open();
        $("body").addClass("tx-search-shown");
        sizeSlider();
        return false;
    });
    $("#tx-search-close").click(function (e) {
        e.stopPropagation();
        e.preventDefault();
        $("body").removeClass("tx-search-shown");
        searchPanel.close();
        return false;
    });

    $("input[name=offerTypeRadio]").on("change", function (e) {
        var val = $("input[name=offerTypeRadio]:checked").val();
        $("#OfferType").data("kendoDropDownList").value(val);
        $("#OfferType").data("kendoDropDownList").trigger("change");
    });

    function sizeSlider() {
        var slider = $("#PriceRangeSlider").data("kendoRangeSlider");
        slider.wrapper.width(slider.wrapper.parent().width());
        slider.resize();
    }
</script>